body {
    .h1Merchandising {
        position: absolute;
        font-size: 40px;
        left: 400px;
        top: 120px;
        display: inline;
    }
    .tablaMerchandising {
        position: absolute;
        top: 200px;
        left: 380px;
        padding: 5px;
        background-color: darkseagreen;
    }
    th {
        background-color: forestgreen;
        color: white;
        font-size: 24px;
    }
    td {
        background-color: lawngreen;
        color: black;
        font-size: 20px; 
    }
    td:hover {
        background-color: #aaa;
    }
    .sixdo {
        position: absolute;
        top: 420px;
        left: 100px;
        height: 500px;
    }
    .felizCumpleFerxxo {
        position: absolute;
        top: 420px;
        left: 725px;
        height: 500px;
    }
    .interShibuyaLM {
        position: absolute;
        top: 420px;
        left: 1350px;
        height: 500px;
    }
    .mor {
        position: absolute;
        top: 950px;
        left: 100px;
        height: 500px;
    }
    .remeraNegra {
        position: absolute;
        top: 950px;
        left: 725px;
        height: 500px;
        width: 450px;
    }
    .remeraBlanca {
        position: absolute;
        top: 950px;
        left: 1350px;
        height: 500px;
        width: 450px;
    }
    #pieDePaginaMerchandising {
        .parrafoMerchandising3 {
            position: absolute;
            top: 1500px;
            left: 100px;
            background-color: aquamarine;

        }
        .twitterMerchandising {
            position: absolute;
            top: 1490px;
            left: 270px;
            height: 40px;
        }
        .instagramMerchandising {
            position: absolute;
            top: 1490px;
            left: 310px;
            height: 40px;
        }
        .youtubeMerchandising {
            position: absolute;
            top: 1490px;
            left: 370px;
            height: 40px;
        }
        .registrateMerchandising {
            position: absolute;
            top: 1490px;
            left: 1200px;
            height: auto;
            background-color: aquamarine;

        }
        .renglonMerchandising {
            position: absolute;
            top: 1480px;
            left: 1300px;
            height: 44px;
            background-color: aquamarine;

        }
        .botonEnviarPieDePaginaMerchandising {
            position: absolute;
            top: 1480px;
            left: 1472px;
            height: 44px;
            width: 100px;
            background-color: black;
            color: white;
        }
        .linkFooter1Merchandising {
            color: black;
            font-size: 20px;
            text-decoration: none;
            position:absolute;
            top: 1600px;
            left: 695px;
            border-style:solid;
            border-left: 10px;
            border-top: 10px;
            border-bottom: 10px;
            padding: 5px;
            background-color: aquamarine;

        }
        a.linkFooter1Merchandising:hover {
            color: green;
        }
        a.linkFooter1Merchandising:active {
            color: black;
        }
        .linkFooter2Merchandising{
            color: black;
            font-size: 20px;
            text-decoration: none;
            position:absolute;
            top: 1600px;
            left: 750px;
            border-style:solid;
            border-top: 10px;
            border-bottom: 10px;
            padding: 5px;
            background-color: aquamarine;

        }
        a.linkFooter2Merchandising:hover {
            color: green;
        }
        a.linkFooter2Merchandising:active {
            color: black;
        }
        .linkFooter3Merchandising{
            color: black;
            font-size: 20px;
            text-decoration: none;
            position:absolute;
            top: 1600px;
            left: 871px;
            border-style:solid;
            border-top: 10px;
            border-bottom: 10px;
            padding: 5px;
            background-color: aquamarine;

        }
        a.linkFooter3Merchandising:hover {
            color: green;
        }
        a.linkFooter3Merchandising:active {
            color: black;
        }
        .linkFooter4Merchandising{
            color: black;
            font-size: 20px;
            text-decoration: none;
            position:absolute;
            top: 1600px;
            left: 1019px;
            border-style:solid;
            border-top: 10px;
            border-bottom: 10px;
            padding: 5px;
            background-color: aquamarine;

        }
        a.linkFooter4Merchandising:hover {
            color: green;
        }
        a.linkFooter4Merchandising:active {
            color: black;
        }
        .linkFooter5Merchandising{
            color: black;
            font-size: 20px;
            text-decoration: none;
            position:absolute;
            top: 1600px;
            left: 1181px;
            border-style:solid;
            border-right: 10px;
            border-top: 10px;
            border-bottom: 10px;
            padding: 5px;
            background-color: aquamarine;

        }
        a.linkFooter5Merchandising:hover {
            color: green;
        }
        a.linkFooter5Merchandising:active {
            color: black;
        }
        .derechosMerchandising {
            position: absolute;
            top: 1650px;
            left: 800px;
            background-color: aquamarine;

        }
}
}

@media (max-width: 400px) {
    body {
        background-image: url(../img/fondo1.jpg);
        background-size: 400px;
        .h1Merchandising {
            position: absolute;
            font-size: 40px;
            left: 65px;
            width: 270px;
            text-align: center;
            top: 300px;
            display: inline;
            background-color: aquamarine;
        }
        .tablaMerchandising {
            position: absolute;
            top: 400px;
            left: 0px;
            padding: 3px;
            background-color: darkseagreen;
            text-align: center;
        }
        th {
            background-color: forestgreen;
            color: white;
            font-size: 14px;
        }
        td {
            background-color: lawngreen;
            color: black;
            font-size: 14px; 
        }
        td:hover {
            background-color: #aaa;
        }
        .sixdo {
            position: absolute;
            top:750px;
            left: 25px;
            width: 350px;
            height: 370px;
        }
        .felizCumpleFerxxo {
            position: absolute;
            top: 1150px;
            left: 25px;
            width: 350px;
            height: 370px;
        }
        .interShibuyaLM {
            position: absolute;
            top: 1550px;
            left: 25px;
            width: 350px;
            height: 370px;
        }
        .mor {
            position: absolute;
            top: 1950px;
            left: 25px;
            width: 350px;
            height: 370px;
        }
        .remeraNegra {
            position: absolute;
            top: 2350px;
            left: 25px;
            width: 350px;
            height: 450px;
   /*          visibility: hidden; */
        }
        .remeraBlanca {
            position: absolute;
            top: 2850px;
            left: 25px;
            height: 450px;
            width: 350px;
/*             visibility: hidden; */
        }
        #pieDePaginaMerchandising {
            background-color: gray;
    
        
        .parrafoMerchandising3 {
            position: absolute;
            top: 3450px;
            left: 20px;
            background-color: black;
            padding: 5px;
            color: white;
        }
        .twitterMerchandising {
            position: absolute;
            top: 3450px;
            left: 200px;
            height: 40px;
        }
        .instagramMerchandising {
            position: absolute;
            top: 3450px;
            left: 250px;
            height: 40px;
        }
        .youtubeMerchandising {
            position: absolute;
            top: 3450px;
            left: 320px;
            height: 40px;
        }
        .registrateMerchandising {
            position: absolute;
            top: 3600px;
            left: 20px;
            background-color: black;
            color: white;
            padding: 5px;
        }
        .renglonMerchandising {
            position: absolute;
            top: 3600px;
            left: 110px;
            height: 40px;
        }
        .botonEnviarPieDePaginaMerchandising {
            position: absolute;
            top: 3600px;
            left: 290px;
            height: 40px;
            width: 100px;
            background-color: black;
            color: white;
        }
        .linkFooter1Merchandising {
            background-color: aquamarine;
            color: black;
            font-size: 20px;
            text-decoration: none;
            position:absolute;
            top: 3650px;
            left: 175px;
            border-style:solid;
            border-left: 10px;
            border-top: 10px;
            border-bottom: 10px;
            border-right: 10px;
            padding: 5px;
            width: 50px;
            text-align: center;
        }
        a.linkFooter1Merchandising:hover {
            color: green;
        }
        a.linkFooter1Merchandising:active {
            color: black;
        }
        .linkFooter2Merchandising{
            background-color: aquamarine;
            color: black;
            font-size: 20px;
            text-decoration: none;
            position:absolute;
            top: 3700px;
            left: 142px;
            border-style:solid;
            border-left: 10px;
            border-top: 10px;
            border-bottom: 10px;
            border-right: 10px;
            padding: 5px;
            width: 115px;
            text-align: center;
        }
        a.linkFooter2Merchandising:hover {
            color: green;
        }
        a.linkFooter2Merchandising:active {
            color: black;
        }
        .linkFooter3Merchandising{
            background-color: aquamarine;
            color: black;
            font-size: 20px;
            text-decoration: none;
            position:absolute;
            top: 3750px;
            left: 130px;
            border-style:solid;
            border-left: 10px;
            border-top: 10px;
            border-bottom: 10px;
            border-right: 10px;
            padding: 5px;
            width: 140px;
            text-align: center;
        }
        a.linkFooter3Merchandising:hover {
            color: green;
        }
        a.linkFooter3Merchandising:active {
            color: black;
        }
        .linkFooter4Merchandising{
            background-color: aquamarine;
            color: black;
            font-size: 20px;
            text-decoration: none;
            position:absolute;
            top: 3800px;
            left: 150px;
            border-style:solid;
            border-left: 10px;
            border-top: 10px;
            border-bottom: 10px;
            border-right: 10px;
            padding: 5px;
            width: 100px;
            text-align: center;
        }
        a.linkFooter4Merchandising:hover {
            color: green;
        }
        a.linkFooter4Merchandising:active {
            color: black;
        }
        .linkFooter5Merchandising{
            background-color: aquamarine;
            color: black;
            font-size: 20px;
            text-decoration: none;
            position:absolute;
            top: 3880px;
            left: 155px;
            border-style:solid;
            border-left: 10px;
            border-top: 10px;
            border-bottom: 10px;
            border-right: 10px;
            padding: 5px;
            width: 90px;
            text-align: center;
        }
        a.linkFooter5Merchandising:hover {
            color: green;
        }
        a.linkFooter5Merchandising:active {
            color: black;
        }
        .derechosMerchandising {
            position: absolute;
            top: 3950px;
            left: 10px;
            width: 370px;
            text-align: center;
        }
    }
    }
}